@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";
@import "./global/header.css";

/* Utilidades */
@import "./utilidades/componentes.css";

/* Home */
@import "./home/introducao.css";

/* Depoimentos */
@import "./depoimentos/depoimentos.css";

/* Portfolio */
@import "./portfolio/portfolio.css";

/* Bem-estar */
@import "./bemestar/bemestar.css";

/* Lift */
@import "./lift/lift.css";

/* Metodo */
@import "./metodo/metodo.css";

/* Pessoas */
@import "./pessoas/pessoas.css";

/* Contato */
@import "./contato/contato.css";
