.font-1-titulo-pequeno {
  font: normal 2.1875rem/1.25 "Poppins", sans-serif;
}
.font-1-titulo-pequeno-2 {
  font: normal 1.875rem/1.25 "Poppins", sans-serif;
}
.font-1-titulo-medio {
  font: normal 2.875rem/1.25 "Poppins", sans-serif;
}
.font-1-paragrafo-normal {
  font: normal 1.25rem/1.5 "Poppins", sans-serif;
}
.font-1-titulo-tamanho26 {
  font: normal 1.675rem/1.25 "Poppins", sans-serif;
}
@media (max-width: 800px) {
  .font-1-titulo-pequeno {
    font-size: 1.875rem;
  }
  .font-1-titulo-medio {
    font-size: 2rem;
  }
}
