.bemestar-bg {
  background-image: url("../../img/bemestar/bemestar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bemestar {
  padding: 100px 12px;
}
.bemestar h1 {
  margin-bottom: 20px;
  max-width: 40ch;
}
.bemestar p {
  font-weight: 200;
  max-width: 75ch;
}
@media (max-width: 800px) {
  .bemestar h1,
  .bemestar p {
    text-align: center;
  }
}
