body {
  margin: 0;
  font-family: Arial, Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
ul,
p,
span,
a {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
span,
a {
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
