body {
  margin: 0;
  font-family: Arial, Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
span,
a {
  margin: 0;
}
h6 {
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}
ul {
  list-style: none;
  padding: 0;
}
span,
a {
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
