.introducao-bg {
  background-image: url("../../img/introducao/introducao.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.introducao {
  display: grid;
  gap: 12px;
  justify-items: center;
  padding: 250px 12px;
}
.introducao h1 {
  text-align: center;
  max-width: 45ch;
}
@media (max-width: 800px) {
  .introducao {
    padding: 200px 12px;
  }
}
